python report

# Automatic Reporting in Python - Part 1: From Planning to Hello World
https://dev.to/goyder/automatic-reporting-in-python---part-1-from-planning-to-hello-world-32n1
    
# Python PDF Reports in Python
https://plot.ly/python/pdf-reports/
    
# Creating PDF Reports with Pandas, Jinja and WeasyPrint
http://pbpython.com/pdf-reports.html

In [102]:
from __future__ import print_function
import pandas as pd
import numpy as np

In [103]:
adsl = pd.read_sas("./ADaM/adsl.xpt")

In [104]:
list(adsl)

['STUDYID',
 'USUBJID',
 'SUBJID',
 'SITEID',
 'SITEGR1',
 'ARM',
 'TRT01P',
 'TRT01PN',
 'TRT01A',
 'TRT01AN',
 'TRTSDT',
 'TRTEDT',
 'TRTDURD',
 'AVGDD',
 'CUMDOSE',
 'AGE',
 'AGEGR1',
 'AGEGR1N',
 'AGEU',
 'RACE',
 'RACEN',
 'SEX',
 'ETHNIC',
 'SAFFL',
 'ITTFL',
 'EFFFL',
 'COMP8FL',
 'COMP16FL',
 'COMP24FL',
 'DISCONFL',
 'DSRAEFL',
 'DTHFL',
 'BMIBL',
 'BMIBLGR1',
 'HEIGHTBL',
 'WEIGHTBL',
 'EDUCLVL',
 'DISONSDT',
 'DURDIS',
 'DURDSGR1',
 'VISIT1DT',
 'RFSTDTC',
 'RFENDTC',
 'VISNUMEN',
 'RFENDT',
 'DCDECOD',
 'EOSSTT',
 'DCSREAS',
 'MMSETOT']

In [105]:
gg_stat = adsl.groupby(["TRT01PN","TRT01P","SEX"])

In [106]:
#ggcount = gg_stat["SEX"].count()
ggcount = gg_stat["SEX"].agg({"valn":"count"})

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

In [107]:
ggcount

                                           valn
TRT01PN      TRT01P                  SEX
5.397605e-79 b'Placebo'              b'F'    53
                                     b'M'    33
5.400000e+01 b'Xanomeline Low Dose'  b'F'    50
                                     b'M'    34
8.100000e+01 b'Xanomeline High Dose' b'F'    40
                                     b'M'    44

In [108]:
gg_stat["SEX"].size() # same as above

TRT01PN       TRT01P                   SEX
5.397605e-79  b'Placebo'               b'F'    53
                                       b'M'    33
5.400000e+01  b'Xanomeline Low Dose'   b'F'    50
                                       b'M'    34
8.100000e+01  b'Xanomeline High Dose'  b'F'    40
                                       b'M'    44
Name: SEX, dtype: int64

In [109]:
type(ggcount)

pandas.core.frame.DataFrame

In [110]:
ggcount

                                           valn
TRT01PN      TRT01P                  SEX
5.397605e-79 b'Placebo'              b'F'    53
                                     b'M'    33
5.400000e+01 b'Xanomeline Low Dose'  b'F'    50
                                     b'M'    34
8.100000e+01 b'Xanomeline High Dose' b'F'    40
                                     b'M'    44

In [111]:
list(ggcount)

['valn']

In [112]:
ggg = pd.DataFrame(ggcount)

In [113]:
ggg.reset_index(inplace=True)

In [114]:
ggg

        TRT01PN                   TRT01P   SEX  valn
0  5.397605e-79               b'Placebo'  b'F'    53
1  5.397605e-79               b'Placebo'  b'M'    33
2  5.400000e+01   b'Xanomeline Low Dose'  b'F'    50
3  5.400000e+01   b'Xanomeline Low Dose'  b'M'    34
4  8.100000e+01  b'Xanomeline High Dose'  b'F'    40
5  8.100000e+01  b'Xanomeline High Dose'  b'M'    44

In [115]:
type(ggg)

pandas.core.frame.DataFrame

In [116]:
list(ggg)

['TRT01PN', 'TRT01P', 'SEX', 'valn']

In [117]:
ggg["var"] = "SEX"

In [118]:
ggg["varn"] = 2

In [119]:
ggg

        TRT01PN                   TRT01P   SEX  valn  var  varn
0  5.397605e-79               b'Placebo'  b'F'    53  SEX     2
1  5.397605e-79               b'Placebo'  b'M'    33  SEX     2
2  5.400000e+01   b'Xanomeline Low Dose'  b'F'    50  SEX     2
3  5.400000e+01   b'Xanomeline Low Dose'  b'M'    34  SEX     2
4  8.100000e+01  b'Xanomeline High Dose'  b'F'    40  SEX     2
5  8.100000e+01  b'Xanomeline High Dose'  b'M'    44  SEX     2

In [120]:
ggg["stats"] = "freq"

In [121]:
ggg["statn"] = "111"

In [122]:
ggg.loc[ggg["SEX"] == b"F","statlabel"] = "Female"
ggg.loc[ggg["SEX"] == b"M","statlabel"] = "Male"
# setting values using loc
# https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/

# categorical data ordering
# http://pbpython.com/categorical-encoding.html
# http://benalexkeen.com/mapping-categorical-data-in-pandas/

In [123]:
ggg

,TRT01PN,TRT01P,SEX,valn,var,varn,stats,statn,statlabel
0,5.397605e-79,b'Placebo',b'F',53,SEX,2,freq,111,Female
1,5.397605e-79,b'Placebo',b'M',33,SEX,2,freq,111,Male
2,5.400000e+01,b'Xanomeline Low Dose',b'F',50,SEX,2,freq,111,Female
3,5.400000e+01,b'Xanomeline Low Dose',b'M',34,SEX,2,freq,111,Male
4,8.100000e+01,b'Xanomeline High Dose',b'F',40,SEX,2,freq,111,Female
5,8.100000e+01,b'Xanomeline High Dose',b'M',44,SEX,2,freq,111,Male

In [124]:
ggg.dtypes

TRT01PN      float64
TRT01P        object
SEX           object
valn           int64
var           object
varn           int64
stats         object
statn         object
statlabel     object
dtype: object

In [129]:
#shell dataframe
dtypes = np.dtype([
          ('byvar1n', int),
          ('byvar1', str),
          ('byvar2n', int),
          ('byvar2', str),
          ('varn', int),
          ('var', str),
          ('varlabel', str),
          ('statn', int),
          ('stats', str),
          ('statlabel', str),
          ('TRTP01PN', int),
          ('TRT01P', str),
          ('valn', float),
          
          ])
data = np.empty(0, dtype=dtypes)
shell = pd.DataFrame(data)
shell

Empty DataFrame
Columns: [byvar1n, byvar1, byvar2n, byvar2, varn, var, varlabel, statn, stats, statlabel, TRTP01PN, TRT01P, valn]
Index: []